@import "../../function.scss";

.ant-select {
     color: white;
     position: relative;
     z-index: 99;
}
.ant-select-selector {
     background-color: #ffffff1f !important ;
     border: 0 !important;
     color: white !important;
     @apply rounded #{!important};
}
.ant-select-arrow {
     color: white !important;
}
// bg-[#ffffff1f]
.ant-select-dropdown {
     @apply py-3 px-0 rounded bg-[#332d2d] z-[9998] #{!important};

     .ant-select-item {
          @apply text-sm font-michroma px-8 tracking-wide font-normal text-white #{!important};
     }
}
.ant-select-item-option-selected {
     @apply bg-[#FFFFFF14] px-4 py-2  font-normal #{!important};
}
.ant-select-selection-item {
     @apply text-sm tracking-wider font-michroma text-white px-4 #{!important};
}
.ant-select-single {
     @apply h-[2.5rem] #{!important};
}
