.code-block-container-two {
    height: 100%;

    // custom class for code block background color
    .sc-bdfCDU {
        display: none;
    }

    .active-theme {
        border: 2px solid #4658ff;
    }

    .custom-class-dark {
        background-color: black !important;
        code {
            background-color: black !important;
            padding: 20px !important;
            width: 100%;
        }
    }

    .custom-class-light {
        // background-color: white !important;
        code {
            // background-color: #4628ff80 !important;
            padding: 20px !important;
            width: 100%;
        }
    }

    .custom-class-light-blue {
        background-color: #4628ff80 !important;
        code {
            background-color: #4628ff80 !important;
            padding: 20px !important;
            width: 100%;
        }
        .sc-bdfCDU {
            background: transparent !important;
        }
    }

    //  theme css
    .ikYgtk span {
        height: 100% !important;
        font-size: 15px !important;
        background-color: black !important;
    }
    .ikYgtk span code {
        // background-color: #66bb6a80 !important;
        padding: 20px !important;
        width: 100%;
    }

    .ikYgtk {
        // border: 1px solid #79797b80;

        height: 500px;
        // border-top-right-radius: 8px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        // copy button
        .sc-bdfCDU {
            margin: 10px !important;
        }

        // copy svg
        .icon {
            width: 22px !important;
            height: 22px !important;
        }
    }

    .fGuKCr span {
        height: 100% !important;
        font-size: 15px !important;
    }

    .fGuKCr span code {
        // background-color: #66bb6a80 !important;
        padding: 20px !important;
        width: 100%;
    }

    .fGuKCr {
        // border: 1px solid #79797b80;

        height: 500px;
        // border-top-right-radius: 8px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;

        // copy button
        .sc-bdfCDU {
            margin: 10px !important;
        }

        // copy svg
        .icon {
            width: 22px !important;
            height: 22px !important;
        }
    }

    .select-code-language {
        .ant-select {
            width: 100%;
        }
    }
    .custom-border--language-tabs-container {
        @apply rounded-tl-xl rounded-tr-xl;
        &::after {
            background-color: pink;
            background: radial-gradient(21.19% 40.1% at 100.03% 0%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
                radial-gradient(24.21% 39.21% at 0% 0%, rgba(255, 255, 255, 0.81) 0%, rgba(255, 255, 255, 0.19) 100%),
                radial-gradient(98% 49.86% at 100.03% 100%, #8c33a3 0%, rgba(51, 163, 109, 0.05) 100%);
        }
    }
    .custom-border--code-block {
        @apply rounded-bl-lg rounded-br-lg;
        &::after {
            background: radial-gradient(21.19% 40.1% at 100.03% 0%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
                radial-gradient(24.21% 39.21% at 0% 0%, rgba(255, 255, 255, 0.81) 0%, rgba(255, 255, 255, 0.19) 100%),
                radial-gradient(98% 49.86% at 100.03% 100%, #8c33a3 0%, rgba(51, 163, 109, 0.05) 100%);
        }
    }
    .language-tabs-container {
        @apply rounded-tl-xl rounded-tr-xl relative bg-[#37367e40];

        button {
            border: 0px;
            // border-top-left-radius: 8px;
            // border-top-right-radius: 8px;
        }
        button:hover {
            border-radius: 14px;
        }

        .active-tab {
            background-color: #4658ff;
            border-radius: 14px;
        }
    }
}

.codeTab-block {
    /* For webkit-based browsers */
    /* Customize the scrollbar */
    ::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        /* Set the width of the scrollbar */
    }

    /* Customize the scrollbar track */
    ::-webkit-scrollbar-track {
        background-color: transparent;
        /* Change the background color of the track */
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#4628ff] rounded;
    }
}
