@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./animation.scss";
// @import "./function.scss";

:root {
  --main-color-rgb: 255, 255, 255;
  --main-background: 5, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --main-background: 5, 0, 0;
  }
}

body {
  color: rgb(var(--main-color-rgb));
  background: rgb(var(--main-background));
  overflow-x: hidden;
  aspect-ratio: 1;
  @apply font-orbitron;
}

.main {
  min-height: 1500px;
  padding-top: 8rem;
}

.btn-primary {
  transform: none;
  transform-origin: 50% 50% 0px;

  @apply px-5 py-3 flex justify-center items-center gap-2 text-sm font-semibold tracking-wider text-white border-0 h-auto;

  &:hover {
    @apply text-white #{!important};
    img {
      transform: scale(1.03, 1.03);
      transition: ease-in-out 0.5s;
    }
    .btn-primary-icon {
      transform: rotate(-45deg);
      transition: ease-in-out 0.5s;
    }
  }
}

.page-title {
  background: linear-gradient(
    90deg,
    rgb(97, 97, 97) 0%,
    rgb(255, 255, 255) 43.9272%,
    rgb(255, 255, 255) 49.5495%,
    rgb(255, 255, 255) 53.3078%,
    rgb(97, 97, 97) 100%
  );
  background-clip: text;
  color: transparent;
  @apply xl:text-[4.563rem] lg:text-[2.5rem] text-3xl tracking-[0.03em] w-auto;
  line-height: 130% !important;
}

.transfrom-1200 {
  transform: perspective(1200px);
}

//modal
.ant-modal-content {
  background-color: transparent !important;
  // background-image: url("https://res.cloudinary.com/sls/image/upload/v1703765303/armur/trqof2nsoxoqhrb37qun.png") !important;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top;
  @apply p-[4.3rem] rounded-xl #{!important};
}
.ant-modal-footer {
  display: none;
}
.ant-modal-header {
  background: transparent !important;
}
.ant-modal-title {
  color: white !important;
  font-size: 1.75rem !important;
  line-height: 130% !important;
}
.custom-border {
  position: relative;
  border-radius: inherit;
  background: #030101;
  margin: 1px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
  }
}

//--------------------------------------------------------------//
//                       TAB css                                //
//--------------------------------------------------------------//
.ant-tabs {
  @apply text-white h-full;
}
.ant-tabs-nav {
  @apply mb-5 #{!important};
}
.ant-tabs-nav::before {
  @apply border-[#79797B80] #{!important};
}

.ant-tabs-tab {
  @apply border-transparent text-[#79797B] font-orbitron text-xs leading-6 px-2 py-3 #{!important};
}

.ant-tabs-tab-active {
  @apply bg-transparent border-l-0 border-r-0 border-t-0 border-white text-white #{!important};

  .ant-tabs-tab-btn {
    @apply text-white #{!important};
  }
}
.ant-tabs-content,
.ant-tabs-tabpane {
  height: 100%;
}
//slider
.slick-slider {
  position: static !important;
}
.slick-prev,
.slick-next {
  top: 95% !important;
}

.slick-next::before,
.slick-prev:before {
  content: url("https://res.cloudinary.com/sls/image/upload/v1704700922/armur/arrow_h3w3kf.svg") !important;
}

.slick-prev {
  rotate: 180deg;
  left: 95% !important;

  @media (max-width: 550px) {
    left: 83% !important;
  }
}
.slick-next {
  top: 97% !important;
  right: -1% !important;
  @media (max-width: 550px) {
    right: 4% !important;
  }
}
