@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Michroma&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-background: 5, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --main-background: 5, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--main-background));
  font-family: "Michroma", sans-serif;
  overflow-x: hidden;
  aspect-ratio: 1;
}

.main {
  min-height: 1500px;
}

.btn-primary {
  transform: none;
  transform-origin: 50% 50% 0px;

  @apply px-5 py-3 flex justify-center items-center gap-2 text-sm font-semibold tracking-wider text-white border-0 h-auto;

  &:hover {
    @apply text-white #{!important};
  }
}

.page-title {
  background: linear-gradient(
    90deg,
    rgb(97, 97, 97) 0%,
    rgb(255, 255, 255) 43.9272%,
    rgb(255, 255, 255) 49.5495%,
    rgb(255, 255, 255) 53.3078%,
    rgb(97, 97, 97) 100%
  );
  background-clip: text;
  color: transparent;
  @apply xl:text-[4.563rem] lg:text-[2.5rem] text-3xl tracking-[0.03em] w-auto;
  line-height: 130% !important;
}

.transfrom-1200 {
  transform: perspective(1200px);
}

//modal
.ant-modal-content {
  background-color: transparent !important;
  // background-image: url("https://res.cloudinary.com/sls/image/upload/v1703765303/armur/trqof2nsoxoqhrb37qun.png") !important;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top;
  @apply p-[4.3rem] rounded-xl #{!important};
}
.ant-modal-footer {
  display: none;
}
.ant-modal-header {
  background: transparent !important;
}
.ant-modal-title {
  color: white !important;
  font-size: 1.75rem !important;
  line-height: 130% !important;
}
.custom-border {
  border-style: solid;
  border-width: 0.25rem;
  border-image-slice: 20 10;
}

//--------------------------------------------------------------//
//                       TAB css                                //
//--------------------------------------------------------------//
.ant-tabs {
  @apply text-white h-full;
}
.ant-tabs-nav {
  @apply mb-5 #{!important};
}
.ant-tabs-nav::before {
  @apply border-[#79797B80] #{!important};
}

.ant-tabs-tab {
  @apply border-transparent text-[#79797B] font-orbitron text-xs leading-6 px-2 py-3 #{!important};
}

.ant-tabs-tab-active {
  @apply bg-transparent border-l-0 border-r-0 border-t-0 border-white text-white #{!important};

  .ant-tabs-tab-btn {
    @apply text-white #{!important};
  }
}
.ant-tabs-content,
.ant-tabs-tabpane {
  height: 100%;
}
